<!DOCTYPE html>
<Html>  
<head>   
<title>  
Registration Page  
</title>  
</head>  
<body bgcolor="Lightskyblue">  
<br>  
<br>  
<form action="addUser" style="border:1px solid #ccc" method="post">
  
<label> Id: </label>     
<input type="text" name="user_id" size="15"/> <br> <br>  
<label> Firstname </label>         
<input type="text" name="user_fname" size="15"/> <br> <br>  

<label> Lastname: </label>         
<input type="text" name="user_lname" size="15"/> <br> <br>  
  

<br> <br>  
Email:  
<input type="email" id="email" name="user_email"/> <br>    
<br> <br>  
Password:  
<input type="Password" id="pass" name="user_pass"> <br>   
<br> <br>  
mobile:  
<input type="text" id="repass" name="user_mobile"> <br> <br>  
<button type="submit" class="signupbtn">Sign Up</button>
</form>  
</body>  
</html>  